<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/mainLayout}">

<head>
    <meta charset="UTF-8">
    <title>Szczegóły użytkownika</title>
</head>
<body>

<section layout:fragment="custom-content">
<h3>Szczegóły użytkownika</h3>

    <p>
        Id: <span th:text="${person.id}"></span>
    </p>
    <p>
        <label th:text="#{person.username}"></label>: <span th:text="${person.username}"></span><br/>
        <label>e-mail:</label> <span th:text="${person.email}"></span><br/>
        <label th:text="#{person.enabled}"></label>: <span th:text="${person.enabled}"></span><br/>
        <label th:text="#{person.role}"></label>: <span th:text="${person.role}"></span><br/>
    </p>
</section>

</body>
</html>